<!DOCTYPE html>
<!--Taneisia's part if you want to its just test
-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    h2{
      margin-top: 75px;
    }
    h1{
        margin-top: 150px;
    }

    </style>
  </head>
  <body>
<center><h1>
How to Play:</br>
</center></h1>

<center><h2>
  All the questions in this game are all multiple choice.</br>
  Challenge yourself to answer all ten questions and move on to the bonus questions.</br>
  You can also have more fun by playing with friends, all you have to do is simply share the code displayed on the screen with your friends.</br>
  The player to get the most answers correct in the multi-player game wins.
</center></h2>
  </body>
</html>
