<!DOCTYPE html>
<html>
<head>
	<title>Play with friends</title>
	<link rel = "shylesheet" href = "/css/project.css">
	<style>
   body{
		   background: url("images/7e27e3c41b51618fd8f35c68b7603314 (1).jpg");
			 background-repeat: no-repeat;
	 		 background-size: 100% 200%;
	 }
	 #friends{
		 color: white;

	 }
	 h3{
		 color: white;
	 }
	 h1{
		 color: white;

	 }
	 #code{
		 color: white;

	 }
	 font{
		 color: white;

	 }
	 #name1{
		 color: white;
	 }
	 #name2{
		 color: white;
	 }
	 #name3{
		 color: white;
	 }
	 #name4{
		 color: white;
	 }






	</style>
</head>
<body>
<h1 id= 'friends'><center>Playing with friends</center></h1>
<h3><center>You and your friends will answer as many questions of your choice and however gets the most correct wins. There are ten questions each with five bonus questions. Are you ready?</center></h3>
<h1><center> Ready </h1></center>
<a href ="/multigame">
	<center><button class="botn" id="red">Press when ready</button></center>
	<a>

<center><h2 id= code> enter code: 7563927655KJE </h2></center>


<font size="10">Joining : </font>
</br>


<h1 id='name1'>Raven </h1>
<h1 id='name2'>WaffleMan </h1>
<h1 id='name3'>Destoryer731</h1>
<h1 id='name4'>FriendlyNeighbor </h1>
</body>
</html>
