<!DOCTYPE html>
<html>
<head>
	<title>Waffle</title>
	<link rel = "stylesheet" href = "/css/project.css">
<style>

body {
    background-image: url("images/are_you_a_waffle_or_a_pancake_featured.jpg");
}



</style>


</head>
<body>
<h1 id="head"> Welcome to Waffle Trivia </h1>

<div id="image2">
  <img id="img2" src="images/450366_mobile_256x256.png">
</div>

<div class = solo-challenge>

	<h4 id = otherPeople >Try to answer qusetions for a high score </h4>

</div>
<div>
	<a href = "SoloChallenge.html">
	<button class="botn" id="green">solo challenge</button>
	</a>

</div>

<div id="image1">
  <img id="img1" src="images/1024px-People.svg.png">
</div>


<div class = Playwithfriends>

	<h4 id = friends> Play With Your Friends</h4>

</div>
<div>
	<a href = "Playwithfriends.html">
	<button class="botn" id="blue" >play with friends</button>
  </a>

</div>



<div class="container">





  <script src = "/js/Triviagame.js"></script>
</div>


<div id= "contact">
	<center>
		<a href = ""> how to play </a>
	</center>

</div>


</body>
</html>

<!-- space qusetions

1. How many stars are in the sky?(there are too many to count)
a. 5 billion
b. 3 thousand
c. 10 billion
d. there are too many to count

2. What is the biggest plant in our solor system?(Jupiter)
a. Jupiter
b. Saturn
c. Pluto
d. The Sun

3. How many types of stars are there?(5)
a. 3
b. 5
c. 12
d. 80

4. What happends when a super giant explodes?(both a and b)
a. becomes a dead star
b. becomes a black hole
c. nothing happends
d. both a and b

5. how big is the milky way galaxy in light years?(100,000)
a. 20,000
b. 100,000
c. 500,000
d. no one knows
