<!DOCTYPE html>
<html>
<head>
	<title>Waffle</title>
	<link rel = "stylesheet" href = "project.css">
<style>

body {
    background-image: url("images/are_you_a_waffle_or_a_pancake_featured.jpg");
}



</style>


</head>
<body>
<h1 id="head"> Welcome to Waffle Trivia </h1>

<div class = solo-challenge>
	<img src="images/450366_mobile_256x256.png">
	<h4 id = otherPeople >Try to answer qusetions for a high score </h4>
	<a href = "SoloChallenge.html"> Solo Challenge</a>
  <button class="botn" id="green">solo challenge</button>
</div>


<div class = Playwithfriends>
	<img src="images/1024px-People.svg.png">
	<h4 id = friends> Play With Your Friends</h4>
	<a href = "Playwithfriends.html"> Play with friends</a>
	<button class="botn" id="blue" >play with friends</button>

</div>

<div class="container">

  <button class="botn" id="red">Ready</button>



  <script src = "Triviagame.js"></script>
</div>


<div id= "contact">
	<a href = ""> Link us </a>

</div>


</body>
</html>
