<!DOCTYPE html>
<html>
<head>
	<title>Solo Challenge</title>
	<link rel = "shylesheet" href = "/css/project.css">
</head>
<style>
body {
		    background: url("images/orig.jpeg");
				color: white;
	}

</style>


<body>


<h1> This is the Solo Challenge </h1>

<p> The goal of the solo challenge is to get as many qusetions correctly as possible. Depending on how many you get correct is yor score compared to everone else who tries the solo chalenge. There are ten questions with five bonus questions there is no time limit,  Good Luck  </p>
<h1 id= ready> Ready?</h1>
<form method="post" action = "/game">
	<button class="botn" id="red">Ready</button>
</a>
</form>
</body>
</html>
