<!DOCTYPE html>
<!--Taneisia's part if you want to its just test
-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h3>
  There are 10 questions and 5 bonus questions. All the questions are multiple choice so no True or False.</br>
  The person who gets the most answers right wins in play with friends where you can invite your friends with a code displayed on the screen. For the solo challenge you get to answer all 15 questions and compare your score with other players the top three get rewarded as waffles while the others are pancakes.
</h3>
  </body>
</html>
